$margin: 2rem;
$height: 53vh;

.movieRow {
	margin-bottom: 1rem;

	h2 {
		// --margin: 2rem;
		margin: 0px 0px 0px $margin;
	}
}

.movieRow--listarea {
	overflow-x: hidden;
	padding-left: $margin;
}

.movieRow--list {
	// width: 9999999px;
	min-height: $height;
	transition: margin-left 400ms ease-in-out;
}

.movieRow--item {
	display: inline-block;
	width: 16rem;

	img {
		width: 100%;
		transform: scale(0.9);
		transition: transform ease 0.2s;
	}

	img:hover {
		transform: scale(1);
	}
}

.material-icons {
	font-size: 4em;
}

.movieRow--left,
.movieRow--right {
	position: absolute;
	width: 40px;
	min-height: $height;
	background-color: rgba(0,0,0,0.6);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
	cursor: pointer;
}

.movieRow--left {
	left: 0;
}

.movieRow--right {
	right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
	opacity: 1;
}

@media (max-width: 760px) {
	.movieRow--left,
	.movieRow--right {
		opacity: 1;
	}
}